name: CI/CD via Reusable Workflow
 
on:
  push:
    branches: [main, release/*]
    tags: ['v*.*.*']
 
jobs:
  trigger-universal-pipeline:
    uses: fengdiandian/github-actions-templates/.github/workflows/universal-pipeline.yml@main 
    with:
      branch-or-tag: ${{ github.ref  }}
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      KUBECONFIG: ${{ secrets.KUBECONFIG }}
