name: Manual CI/CD Pipeline Trigger 
 
on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Branch, tag, or commit SHA to checkout (e.g., refs/heads/main)'
        required: true 
        default: 'refs/heads/main'
 
jobs:
  call-universal-pipeline:
    uses: fengdiandian/github-actions-templates/.github/workflows/universal-pipeline.yaml@main 
    with:
      project_repo: ${{ github.repository  }}     # 当前调用仓库名称 [1]()
      ref: ${{ github.event.inputs.ref  }}       # 用户手动输入的分支/tag引用 [2]()
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      #KUBECONFIG: ${{ secrets.KUBECONFIG }}
